blinker==1.9.0
click==8.1.8
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
Flask==3.1.0
fonttools==4.47.2
itsdangerous==2.2.0
Jinja2==3.1.5
kiwisolver==1.4.5
MarkupSafe==3.0.2
matplotlib==3.8.2
numpy==1.26.3
opencv-python==4.11.0.86
packaging==23.2
pandas==2.2.0
pillow==10.2.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
six==1.16.0
tzdata==2023.4
Werkzeug==3.1.3
